@page
@model SommerhusHjemmeside.Pages.UserSite.CreateModel
@{
    ViewData["Title"] = "Create Profile";
}


<form method="post">
    <div class="form-group>">
        <div class="row">
            <div class="col-6">
                <label>Navn</label><br />
                <input class="form-control" asp-for="@Model.NewUserFirstName" /><br />
                <span asp-validation-for="@Model.NewUserFirstName" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label>Efter Navn</label><br />
                <input class="form-control" asp-for="@Model.NewUserLastName" /><br />
                <span asp-validation-for="@Model.NewUserLastName" class="text-danger"></span>
            </div>
        </div>
        <label>Email</label><br />
        <input class="form-control" asp-for="@Model.NewUserEmail" /><br />
        <span asp-validation-for="@Model.NewUserEmail" class="text-danger"></span>
        <label>Password</label><br />
        <input class="form-control" asp-for="@Model.NewUserPassword" /><br />
        <span asp-validation-for="@Model.NewUserPassword" class="text-danger"></span>
        <div class="row">
            <div class="col-5">
                <label>Post Nummer</label><br />
                <input class="form-control" asp-for="@Model.NewUserPostalCode" /><br />
                <span asp-validation-for="@Model.NewUserPostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label>Vej Navn</label><br />
                <input class="form-control" asp-for="@Model.NewUserStreetName" required/><br />
                <span asp-validation-for="@Model.NewUserStreetName" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label>Vej Nr.</label><br />
                <input class="form-control" asp-for="@Model.NewUserHouseNumber" /><br />
                <span asp-validation-for="@Model.NewUserHouseNumber" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label>Etage</label><br />
                <input class="form-control" asp-for="@Model.NewUserFloor" /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <label>Telefon Nummer</label><br />
                <input class="form-control" asp-for="@Model.NewUserPhone" /><br />
                <span asp-validation-for="@Model.NewUserPhone" class="text-danger"></span>
            </div>
            <div class="col-3 form-check form-switch d-flex justify-content-evenly align-items-center">
                <label></label><br />
                <label class="form-check-label" for="mySwitch">
                    <input class="form-check-input" type="checkbox" id="mySwitch" name="Udlejer" value="False" unchecked>Udlejer
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <input type="submit" value="Opret User" class="btn btn-primary" />
            </div>
            <div class="col-6 d-flex justify-content-center">
                <input type="submit" value="Fortryd" class="btn btn-outline-danger" asp-page-handler="Cancel"/>
            </div>
    </div>
    </div>
</form>